*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CABEÇALHO */

header{
   width: 100%;
   height: 50px;
   background-color: gray;
      
}

body{
    background-image: url(https://cdn.shopify.com/s/files/1/0305/4075/9177/products/N06174_1.jpg?v=1610356792);
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;

}

.container{
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    text-align: center;
    
}

#logo{
    margin-left: 10px;
}

#logo:hover{
    color: palevioletred;
}

#menumaior{
    list-style: none;
    display: flex;
    font-size: 10;
    margin-right: 10px;
        
}

li{
    background-color: blueviolet;
    border-left: 1px solid whitesmoke;
    width: 100px;
    
}

#menu ul ul{
    position: absolute;
    visibility: hidden;
    
}

#menu ul li:hover ul{
    
    list-style: none;
    font-size: 14px;
    visibility: visible;
    display: block;
}

#menu ul li:hover li{
    border: 1px solid white;
}

nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    
}

a:hover{
    cursor: pointer;
    color: burlywood;

}

a:active{
    cursor: wait;
    color: orange;
}

#imagens{
    margin: 5px;
    width: 99%;
    display: flex;
    flex-flow: row wrap;
}

#imagens img{
    margin-left: 5px;
    padding: 5px;
    width: 24%;
    height: auto;
}

@media (max-width: 700px){
    header{
        height: 83px;
        
    }

    .container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 20px;
    }

    #logo{
        display: none;
    }

    #menu{
        width: 100%;
    }

    ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;              
    }

    li{
        display: flex;
        flex-direction: column;
        background-color: violet;
        border-bottom: 1px solid white;
        width: 100%;
        
    }

    #imagens{
        margin: 5px;
        width: 99%;
        display: block;
        align-items: center;
        
    }
    
    #imagens img{
        align-items: center;
        margin-left: 5px;
        padding: 5px;
        width: 100%;
        height: auto;
    }
}